table {
    border: 2px solid black;
    border-collapse: collapse;
}
td {
    padding: 0.2ex 1ex;
    text-align: right;
    width: 6em;
    border-style: none solid;
    border-collapse: collapse;

}
table.hyakumeiten td {
    border-style: solid;
}
td.shop {
    width: 60em;
}
label {
    border: 1px solid #999999;
    background: #dadada;
    font-weight: normal;
}
